<!DOCTYPE html>

<html ng-app>
  <head>
    <meta charset="utf-8">
    <title>Lightning</title>
    <link rel="stylesheet" href="lightning.css">
    <style>
      html, body, #map_canvas {
        margin: 0;
        padding: 0;
        height: 80%;
      }
      .strikeInfo{
          text-align: center;
          width:200px;
      }
    </style>
<!--    <script type="application/dart" src="page.dart"></script> -->
    <script type="application/dart" src="lighting_main.dart"></script>
    <script type="text/javascript" src="packages/browser/dart.js"></script>
    <script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script src="packages/browser/interop.js"></script>
  </head>
  
  <body>
    <h1>Lightning</h1>    
    <div id="map_canvas"></div>
    <input type="checkbox" ng-model="lightingViewController.showCloud">Show Cloud<br/>
    fade delay {{lightingViewController.fadeDelay / 60| number:2}} minutes<input type="range" ng-model="lightingViewController.fadeDelay" id="points" value="180" min="0" max="600">
    <div current-strikes>
    
      <h3>Strikes </h3>
          Strikes: Strikes are Green, Gpatx are Red
      <ul>
      <li class="pointer" ng-repeat="strike in lightingViewController.currentStrikes"><span>{{strike}}</span></li>
      </ul>
    </div>
    <h3>Status</h3>
 
    <div>Received {{lightingViewController.kattonStatusCount}} Katton status messages </div>
    <div>Received {{lightingViewController.gpatzStatusCount}} Gpatz status messages</div>
  </body>
</html>
